.About {
    position: relative;
    display: flexbox;
}

.About div {
    display: table;
    width: 100%;
    text-align: left;
}

.About p {
    width: 75%;
}

.About img {
    margin-left: 10px;
    border-radius: 10px;
    height: 50%;
    width: 25%;
    display: inline;
    float: right;
    vertical-align: top;
}
