.App {
  text-align: center;
  height: 100px;
  width: 100%;
  display: block;
  font-family: "Roboto Slab", serif;
  color: whitesmoke;
}

a, span, h1, h2 {
  transition: all 0.3s ease-in-out ;
}

.Save {
  background-color: #343a40;
}
